<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<style>

    * {
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
    }

    .container {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        padding: 12px
    }

    .lined_up {
        width: 100%;
        display: block;
        margin: 0 25%;
    }
    .valign-wrapper {

    }
</style>
<header>

    <nav>
        <div class="nav-wrapper container">
            <ul>
                <li class="valign-wrapper">
                    <a href="{% url 'gardyloo:quiz' %}" class="btn waves-effect waves-light btn grey"><i
                            class="material-icons left">contacts</i>Quiz</a>
                </li>
                <li class="valign-wrapper">
                    <a href="{% url 'gardyloo:login' %}" class="btn waves-effect waves-light btn grey"><i
                            class="material-icons left">grade</i>User Login</a>
                </li>
                <li class="valign-wrapper">
                    <a href="{% url 'gardyloo:home_page' %}" class="btn waves-effect waves-light btn grey"><i class="material-icons left">home</i>Home</a>
                </li>

            </ul>
        </div>
    </nav>
</header>
<body>
<div id="quiz" class="container">
    <h5 class="center-align">Questions << counter >> : Correct << correct >></h5>
    <h5 class="center-align"><< question >></h5>
    <p><< correct_answer_index >></p>
    <div>
        <div class="row center-align lined_up" v-for="(option, index) in answers" @click="check_answer(index)">
            <div class="col s12 m6">
              <div class="card deep-purple lighten-4">
                <div class="card-content white-text">
                  <span class="card-title"><< option >></span>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

<script>

    new Vue({
        delimiters: ["<<",">>"],
        el: '#quiz',
        data: {
            guess: [],
            counter: 0,
            correct: 0,
            question: "",
            answers: [],
            correct_answer_index: [],
        },
        methods: {
            start_quiz: function() {
                let quiz = this
                axios.get("{% url 'gardyloo:quiz_question' %}")
                    .then(function (response) {
                        console.log(response.data)
                        quiz.question = response.data.question
                        quiz.answers = response.data.answers
                        quiz.correct_answer_index = response.data.correct_answer_index
                    })
            },

            check_answer: function(index) {
                this.counter += 1
                if (this.correct_answer_index == index) {
                    this.correct += 1
                    confirm('You were correct')
                } else {
                    confirm('You were incorrect')
                }
                this.start_quiz()
            },
            next_question: function() {
                this.start_quiz()
                this.counter += 1
            },
        },
        created: function() {
            this.start_quiz()
        }
    })

</script>
</body>
</html>