<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<style>

    * {
        font-family: 'Montserrat', sans-serif;
        box-sizing: border-box;
    }

</style>
<body>
<h1>This is the quiz page</h1>
<div id="quiz">
    <h5><< question >></h5>

        <p v-for="option in answer"> << option >> </p>


    <p><< correct_answer_index >></p>


</div>


<script>

    new Vue({
        delimiters: ["<<",">>"],
        el: '#quiz',
        data: {
            counter: 0,
            correct: 0,
            question: "",
            answer: [],
            correct_answer_index: [],
            guess: [],
        },
        methods: {
            start_quiz: function() {
                let quiz = this
                axios.get("{% url 'gardyloo:quiz_question' %}")
                    .then(function (response) {
                        quiz.question = response.data.question
                        quiz.answer = response.data.answer
                        quiz.correct_answer_index = response.data.correct_answer_index
                    })
            },
            //@click
            // check_question: function() {
            //     if index of guess = correct_answer_index
            //         this.correct += 1
            // },
            next_question: function() {
                this.start_quiz()
                this.counter += 1
            },
        },
        created: function() {
            this.start_quiz()
        }
    })

</script>
</body>
</html>