

<header>
    <header>
    <nav>
        <div class="nav-wrapper">

            <ul>
                <!--<li>-->
                    <!--<a class="btn waves-effect waves-light btn grey"><i-->
                            <!--class="material-icons left">language</i>Search</a>-->
                <!--</li>-->
                <li>
                    <a href="{% url 'gardyloo:quiz' %}" class="btn waves-effect waves-light btn grey"><i
                            class="material-icons left">contacts</i>Quiz</a>
                </li>
                <li>
                    <a href="{% url 'gardyloo:login' %}" class="btn waves-effect waves-light btn grey"><i
                            class="material-icons left">grade</i>User Login</a>
                </li>
                <li>
                    <a href="{% url 'gardyloo:home_page' %}" class="btn waves-effect waves-light btn grey"><i class="material-icons left">home</i>Home</a>
                </li>
                <li>
                    <a href="{% url 'gardyloo:shuffle' %}" class="btn waves-effect waves-light btn grey"><i class="material-icons left">casino</i>Randomize</a>
                </li>

            </ul>

        </div>
    </nav>
</header>
